RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]

<Files bootstrap.php>
	order deny,allow
	deny from all
</Files>

<Files mobile.php>
	order deny,allow
	deny from all
</Files>

<Files properties.json>
	order deny,allow
	deny from all
</Files>