.logo {
	width: 164px;
	height: 164px;
	background-repeat: no-repeat;
	background-image: url('../img/sasac_logo.png');
	margin-left: auto;
	margin-right: auto;
}

body {
	background-image:url('../img/background-tile.png');
	background-repeat: repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 18px;
}

.mobile-app {
	background-color: #F8F8F8;
	left: 10px;
	right: 10px;
	top: 10px;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	min-height: 200px;
	position: absolute;
}

.footer {
	text-align: center;
	position: relative;
	top: 40px;
	color: white;
}

.title {
	text-align: center;
	font-size: 18px;
}

.contact-links {
	background-image: url("../img/contact.png");
	width: 32px;
	height: 96px;
	position: absolute;
	top: 35px;
}

.contact-link {
	display: block;
	height: 32px;
	width: 32px;
}