form.well.login-form
	fieldset
		legend SASAC Forum Login
		label.control-label(for='email') Email
		input.span3(name='email', type='text')
		label.control-label(for='password') Password
		input.span3(name='password', type='password')
		label.checkbox#remember-me
			input.checkbox(type='checkbox')
			|Remember me on this computer
		input.btn.btn-primary#login(type='Submit', value='Login')